{% extends 'base.html.twig' %}

{% block title %}Fiche de {{ stagiaire }}{% endblock %}

{% block body %}

<h1>Fiche de stagiaire</h1>

<a href="{{ path('edit_stagiaire', {'id' : stagiaire.id})}}">Editer</a><br>
<strong>{{ stagiaire }}</strong>
<ul style="list-style: none;">
    <li>Sexe : {{ stagiaire.sexe }} </li>
    <li>Date de naissance : {{ stagiaire.dateNaissance|date("d-m-Y") }} ({{ stagiaire.age }} ans)</li>
    <li>Ville : STRASBOURG</li>
    <li>Courriel : {{ stagiaire.email }}</li>
    <li>Téléphone : {{ stagiaire.telephone }}</li>
</ul>

<h2>Sessions</h2>
<table border="1">
    <thead>
        <tr>
            <th>Statut</th>
            <th>Formation</th>
            <th>Session</th>
            <th>Date de début</th>
            <th>Date de fin</th>
            <th>Inscrits</th>
            <th>Désinscrire</th>
        </tr>
    </thead>
    <tbody>
        {% for session in stagiaire.sessions %}
        <tr>
            <td>
                {% if session.stagiaires|length == session.nbPlaces %}
                Session complète
                {% else %}
                Ouvert
                {% endif %}
            </td>
            <td>{{ session.formation }}</td>
            <td><a href="{{ path('show_session', {'id' : session.id}) }}">{{ session }}</a></td>
            <td>{{ session.dateDebut|date("d-m-Y") }}</td>
            <td>{{ session.dateFin|date("d-m-Y") }}</td>
            <td>{{ session.stagiaires|length }}/{{ session.nbPlaces }}</td>
            <td><a class="button"
                    href="{{ path('delete_stagiaire_session', {'session': session.id, 'stagiaire':stagiaire.id}) }}">Désinscrire</a>
            </td>

        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}