{% extends 'base.html.twig' %}
{% block description %}{% endblock %}

{% block title %}Détail d'une session{% endblock %}

{% block body %}

<h1>Détail d'une session</h1>

<h2>Plateau numérique</h2>
<ul>
    <li>
        Formateur référent : <a href="{{ path('show_formateur', {'id' : session.formateur.id }) }}">{{
            session.formateur}}</a>
    </li>
    <br>
    <li>Date de début : {{ session.dateDebut|date('d-m-Y') }}</li>
    <li>Date de fin : {{ session.dateFin|date('d-m-Y') }}</li>
    <li>Nombre de place : {{ session.nbPlaces }}</li>
    <li>Nombre de places disponible : {{ session.nbPlaces - session.stagiaires|length }}</li>
    <li>Nombre de modules : {{ session.programmes|length }}</li>
</ul>

<h2>Stagiaires inscrits</h2>

<table border="1">
    <thead>
        <tr>
            <th>Stagiaire</th>
            {% if app.user %}
            <th>Action</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for stagiaire in session.stagiaires %}
        <tr>
            <td><a href="{{ path('show_stagiaire', {'id' : stagiaire.id }) }}">{{ stagiaire }}</a></td>
            {% if app.user %}  
            <td>
                <a class="button"
                href="{{ path('delete_stagiaire_session', {'session': session.id, 'stagiaire':stagiaire.id}) }}">Désinscrire</a>
            </td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>

{# // ajouter un bouton pour inscrire un stagiaire #}
<h2>Stagiaires non inscrits</h2>

<table border="1">
    <thead>
        <tr>
            <th>Stagiaire</th>
            {% if app.user %}
            <th>Action</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for stagiaire in stagiairesNotIn %}
        <tr>
            <td><a href="{{ path('show_stagiaire', {'id' : stagiaire.id }) }}">{{ stagiaire }}</a></td>
            {% if app.user %}            
            <td><a class="button"
                    href="{{ path('add_stagiaire_session', {'session': session.id, 'stagiaire': stagiaire.id}) }}">Inscrire</a>
            </td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>

<h2>Modules programmés</h2>

<table border="1">
    <thead>
        <tr>
            <th>Module</th>
            <th>Catégorie</th>
            <th>Durée</th>
            {% if app.user %}
            <th>Action</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for programme in session.programmes %}
        <tr>
            <td>{{ programme.module.nomModule }}</td>
            <td>{{ programme.module.categorie }}</td>
            <td>{{ programme.nbJours }} jours</td>
            {% if app.user %}
            <td>
                <a class="button"
                    href="{{ path('delete_programme_session', {'programme': programme.id}) }}">Déprogrammer</a>
            </td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>

<h2>Modules non programmés</h2>

<table border="1">
    <thead>
        <tr>
            <th>Module</th>
            <th>Catégorie</th>
            {% if app.user %}
            <th>Durée</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for module in sessionsNotIn %}
        <tr>
            <td>{{ module }}</td>
            <td>{{ module.categorie }}</td>
            {% if app.user %}
            <td>
                <form action="{{ path('add_programme_session', {'session':session.id, 'module':module.id}) }}"
                method="post">
                <input type="number" name="nbJours" id="nbJours">
                <input class="button" type="submit" value="Programmer">
                </form>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}