{% extends 'base.html.twig' %}

{% block title %}Liste des modules{% endblock %}

{% block body %}

<h1>Liste des modules</h1>


<table border="1">
    <thead>
        <tr>
            <th>Module</th>
            <th>Catégorie</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for module in modules %}
        <tr>
            <td>{{ module.nomModule }}</td>
            <td>{{ module.categorie }}</td>
            <td>
                <a style="text-decoration: none; color:rgb(255, 187, 0);" href="{{ path('edit_module', {'id' : module.id}) }}">Editer</a> |
                <a style="text-decoration: none; color:rgb(255, 187, 0);" href="{{ path('delete_module', {'id' : module.id}) }}">Suppr</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<a href="{{ path('new_module')}}">Ajouter un module</a>
{% endblock %}