<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="description"
        content="{% block description %}Bienvenue sur l'outil de gestion de session de formation{% endblock %}">
    <title>{% block title %}Bienvenue sur le site de genstion de sessions de formations{% endblock %}</title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    {% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    {% endblock %}

</head>

<body>
    {% if app.user %}
        <nav class="nav-1">
            <p>Gestion de sessions de formation</p>
            <div class="nav-align">
                <ul>
                    <li><a href="{{ path('app_home') }}">Accueil</a></li>
                    <li><a href="{{ path('app_stagiaire') }}">Stagiaires</a></li>
                    <li><a href="{{ path('app_session') }}">Sessions</a></li>
                </ul>
            </div>
        </nav>
        <div class="main-container">
        <div class="left-bar">
            <nav class="nav-2">
                <ul>
                    <li><a href="#"><img width="17" height="17" src="https://img.icons8.com/windows/32/system-administrator-male.png" alt="system-administrator-male"/> Administrateur</a></li>
                    <li><a href="{{ path('app_formation') }}"><img width="17" height="17" src="https://img.icons8.com/ios/50/internship.png" alt="internship"/> Formation</a></li>
                    <li><a href="{{ path('app_formateur') }}"><img width="17" height="17" src="https://img.icons8.com/ios/50/lawyer.png" alt="lawyer"/> Formateurs</a></li>
                    <li><a href="{{ path('app_module') }}"><img width="17" height="17" src="https://img.icons8.com/external-prettycons-lineal-prettycons/49/external-modules-technology-prettycons-lineal-prettycons.png" alt="external-modules-technology-prettycons-lineal-prettycons"/> Modules</a></li>
                    <li><a href="{{ path('app_categorie') }}"><img width="17" height="17" src="https://img.icons8.com/material-sharp/24/sorting-answers.png" alt="sorting-answers"/> Categories</a></li>
                </ul>
                <div class="add-menu">
                    <ul>
                        <li><a href="{{ path('new_stagiaire') }}">Stagiaire</a></li>
                        <li><a href="{{ path('new_formateur') }}">Formateur</a></li>
                        <li><a href="{{ path('new_session') }}">Session</a></li>
                        <li><a href="{{ path('new_module') }}">Module</a></li>
                        <li><a href="{{ path('new_categorie') }}">Catégorie</a></li>
                        {# <li><a href="{{ path('new_programme') }}">Programme</a></li> #}
                    </ul>
                </div>
            </nav>
            <div class="menu-logout">
                <a href="{{ path('app_logout') }}"><img width="25" height="25" src="https://img.icons8.com/ios/50/exit--v1.png" alt="exit--v1"/></a>
                <a href="#"><img width="25" height="25" src="https://img.icons8.com/ios/50/settings--v1.png" alt="settings--v1"/></a>
            </div>
        </div>

        <div class="main-content">
            {% block body %}
            {% endblock %}
        </div>

    </div>
    {% endif %}


    {% block javascripts %}
    <script src=""></script>
    {% endblock %}

    <footer>
            <ul>
                <li><a href="">About Us</a></li>
                <li><a href="">Contact</a></li>
                <li><a href="">Privacy Policy</a></li>
            </ul>
    </footer>
</body>

{# PLUS + <img width="50" height="50" src="https://img.icons8.com/ios/50/plus--v1.png" alt="plus--v1"/> #}
{# MOINS - <img width="50" height="50" src="https://img.icons8.com/ios/50/minus.png" alt="minus"/> #}
</html>