{% extends 'base.html.twig' %}

{% block title %}Fiche de {{ formateur }}{% endblock %}

{% block body %}

<h1>Fiche de formateur</h1>

<a href="{{ path('edit_formateur', {'id' : formateur.id}) }}" >Editer</a> <br>

<strong>{{ formateur }}</strong>
<ul style="list-style: none;">
    <li>Sexe : {{ formateur.sexe }} </li>
    <li>Date de naissance : {{ formateur.dateNaissance|date("d-m-Y") }} ({{ formateur.age }} ans)</li>
    <li>Ville : STRASBOURG</li>
    <li>Courriel : {{ formateur.email }}</li>
    <li>Téléphone : {{ formateur.telephone }}</li>
</ul>

<h2>Sessions</h2>
{# Table avec les sessions du formateur et les dates de début et de fin #}
<table border="1" class="table table-striped">
    <thead>
        <tr>
            <th>Formation</th>
            <th>Session</th>
            <th>Date de début</th>
            <th>Date de fin</th>
            <th>Inscrits</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for session in formateur.sessions %}
        <tr>
            <td>{{ session.formation.nomFormation }}</td>
            <td><a href="{{ path('show_session', {'id' : session.id}) }}">{{ session }}</a></td>
            <td>{{ session.dateDebut|date("d-m-Y") }}</td>
            <td>{{ session.dateFin|date("d-m-Y") }}</td>
            {# Le nombre de places qui reste selon le nombre de stagiaires inscrits #}
            <td>{{ session.stagiaires|length }}/{{ session.nbPlaces }}</td>
            <td><a href="">Edit</a> | <a href="">Suppr</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}